* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
}


#header{
    position: relative;
    margin-left: 399px;
}

#nameTag{
    position: relative;
    padding-top: 15px;
    width: 400px;
    height: 150px;
    background-color: #E56349;
    color: white;
    text-align: center;
    font-size:12pt;
}

#genText{
    position: relative;
    float:left;
    font-size: 12pt;
    background-color: #84B7B0;
    color: white;
    width: 550px;
    height: 150px;
    left: 0;
    margin-top: -1px;
    margin-left: 202px;
    padding-left: 10px; padding-right: 10px; padding-top: 15px; padding-bottom: 5px;
}

#me{
    position: relative;
    width: 206px;
    height: 155px;
    border: #84B7B0 solid 3px;
    /*
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;*/
    background: url(../imgs/adena2.jpg) no-repeat;
    margin-top: 149px;

    z-index: 200;

}

/*SIDE BAR THINGS*/
.container { 
    position:relative; 
    padding:0 0 0 0px; 

}
/*

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width: 120px;
    background-image: url(../imgs/bluePaisley.jpg);
    -webkit-box-shadow: 5px 0 3px -2px #D8D8D8;
        box-shadow: 5px 0 5px -2px #D8D8D8;
    z-index: 10;
    margin-right: 10px;
}

*/



/*FIRST ROLLY BOX*/

#leadershipEx{
    position: absolute;
    color: #2B15A1;
    font-size: 16pt;
    text-align: center;
    text-align: middle;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10%;
}


.leadership {
    position: absolute;
    width: 40%;
    height: 35%;
    margin-left: 10%;
    margin-top: 60px;
}

.leadership article {
    border-bottom: 1px dashed #ddd;
    line-height: 1.3;
    background: #DCEAEB;
    max-width: 520px;
    font-size: 12pt;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    color: #333;
    height: 350px;
    -webkit-box-shadow: 5px 0 3px -2px #D8D8D8;
        box-shadow: 5px 0 5px -2px #D8D8D8;
}

.leadership article em {
    font-style: normal;
    font-size: 10pt;
    padding: 10px;
    color: #666;
}

.leadership article li{
    margin: 10px;
    font-size: 10pt;
}

/*SECOND ROLLY BOX*/

#workHistory{
    position: absolute;
    color: #2B15A1;
    font-size: 16pt;
    text-align: center;
    text-align: middle;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-left: 60%;
}


.work{
    position: absolute;
    width: 40%;
    height: 35%;
    margin-left: 60%;
    margin-top: 60px;

}

.work article {
    border-bottom: 1px dashed #ddd;
    line-height: 1.3;
    background: #DCEAEB;
    font-size: 12pt;
    max-width: 520px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    color: #333;
    height: 350px;
    -webkit-box-shadow: 5px 0 3px -2px #D8D8D8;
        box-shadow: 5px 0 5px -2px #D8D8D8;
}

.work article em {
    font-style: normal;
    padding: 10px;
    font-size: 10pt;
    color: #666;
}

.work article li{
    margin: 10px;
    font-size: 10pt;
}


/*TAB THINGS*/
#allTabThings{
    margin-left: 30%;
    position: absolute;
    margin-top: 60px;

}

#mtabs_wrapper {
    width: 422px;

}
#mtabs_container {
    border-bottom: 1px solid #ccc;
}
#mtabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0px 0px;
    font: 0.75em arial; /*was commented out*/
}
#mtabs li {
    display: inline;
}
#mtabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    color:#000;
    font-family: Artifika, serif; 
    background-color: #eeeeee;
    font-size:14px;
    border-bottom: 1px solid #ccc; /*this and one below were commented out*/
    outline: none;
    /*border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;*/
}
#mtabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#mtabs li.active a {
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none; /*was commented out*/
}
#mtabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;/*was commented out*/
    vertical-align: middle;

}

#mtabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#mtabs li a.icon_accept:hover {
    padding-left: 24px;
}

#mtabs_content_container {
    vertical-align: middle;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 600px;
    height:450px;
    margin-top: -12.52px;
    z-index: -1;
}
.mtab_content {
    display: none;
}

/* TAB THINGS END */

/*image case*/

#imageCase{
    float: left;
    width: 399px;
    position: relative;
    margin-top: 0px;
}

.imageSection{
    padding-left: 5px;
    padding-right: 5px;
    float:right;
    background-color: #8CD8D2;
    width: 200px;
    height: 150px;
    text-align: center;
    padding-top: 55px;
    font-size: 14pt;
    color: white;
    font-weight: 1.5;

}

.imageSection:hover{
    background-color: #E56349;
    color: white;

}

.leaderSect{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1200px;
    position: relative;
    background-color: black;
    color:white;
    margin-bottom:4px;
}

#sparkSC{
    height: 450px;

}
#GSA{
    height: 300px;
}
#hacksc{
    height: 300px;
}


/*end image case*/

#draw{
    background-color: pink;
    float:right;
}


